src/main/resources/pdf.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://spring.io/guides/gs-producing-web-service" elementFormDefault="qualified">

    <xs:element name="getPdfRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pdf" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getPdfResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="pdf" type="xs:all"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>